# USAGE: python sera/main.py --config-name config_specialize_personal stage=pipeline name=test

# TODO: Move as much as can to defaults so this can be as slim as possible

defaults:
  - sera
  - _self_

rollout_one_sweagent_cfg: ???
rollout_two_sweagent_cfg: ???
name: generate_distill_superposed
experiment_dir: ./experiments
sweagent_cfgs:
  - e2e
  - qwen

generate:
  fns_per_repo: 3
  insts_per_fn: 1
  personal_repos:
    - org_name: OpenHands # TODO: This one messes up current repo dependencies somehow!
      last_name: OpenHands
      commits: 
        - cc8b677f3ec324fb7b9de86229f727b25741a66c
      install_cmds: 
        - "pip install -e ."
      test_cmd: null
      python_version: 3.12
      top_level_folder:
        - openhands
  repo_parent_dir: ./repos
  docker:
    docker_org: alleninstituteforai
    gh_mirror_org: oca-repos

distill:
  shard: 0
  models:
  - model: openai/GLM-4.5-Air
    url: http://jupiter-cs-aus-102.reviz.ai2.in:24446/v1
  - model: openai/Qwen3-32B
    url: http://jupiter-cs-aus-156.reviz.ai2.in:23333/v1
  stage_one_config_name: e2e
  stage_two_config_name: qwen
  sweagent_wrapper_config:
    num_workers: 24
  args:
    pipeline_repo: sera/datagen/data/metadata/test_custom_prs.jsonl

postprocess:
  tool_call_format: hermes
  add_think: false
  add_train_key: true
  enforce_submit: true
  reformat_assistant_message: keep_only_think

eval:
  compare_patch_threshold: 0.5
