# USAGE: python sera/main.py --config-name config_specialize_personal stage=pipeline name=test

# TODO: Move as much as can to defaults so this can be as slim as possible

defaults:
  - sera
  - _self_

name: specialize_personal
experiment_dir: ./experiments
sweagent_cfgs:
  - e2e
  - qwen

generate:
  fns_per_repo: 3
  insts_per_fn: 1
  personal_repos:
    - org_name: OpenHands
      last_name: OpenHands
      commits: 
        - 29b77be807e0e6aab380d953c0d79a166df4f0cc
        - cc8b677f3ec324fb7b9de86229f727b25741a66c
      install_cmds: 
        - "pip install -e ."
      test_cmd: null
      python_version: 3.12
      top_level_folder:
        - openhands
  repo_parent_dir: ./repos
  docker:
    docker_org: null # Check README for how to create a Docker org to push images to
    gh_mirror_org: null # Check README for how to create a Github mirror organization for repositories

distill:
  shard: 0
  models:
  - model: anthropic/claude-sonnet-4-20250514
    url: null
  stage_one_config_name: e2e
  stage_two_config_name: qwen
  sweagent_wrapper_config:
    num_workers: 24

postprocess:
  tool_call_format: hermes
  add_think: true # Add <think> around the anthropic reasoning traces
  add_train_key: true
  enforce_submit: true
  reformat_assistant_message: null

eval:
  compare_patch_threshold: 0.5